<main class="bg-white min-w-0 flex-1 border-t border-gray-200 xl:flex">
  <section
    aria-labelledby="message-heading"
    class="flex min-h-screen min-w-0 flex-1 flex-col overflow-hidden xl:order-last"
  >
    <div class="shrink-0 border-b border-gray-200 bg-white">
      <div class="flex h-16 flex-col justify-center">
        <div class="px-4 sm:px-6 lg:px-8">
          <div class="flex justify-between py-3">
            <div class="flex items-center gap-x-3"></div>
            <div class="flex-grow flex justify-center hidden md:flex">
              <div
                class="relative flex items-center rounded-full border border-gray-300 overflow-hidden w-full max-w-xs md:max-w-sm lg:max-w-md"
              >
                <lucide-icon
                  name="search"
                  class="absolute left-2 size-5 text-gray-400"
                ></lucide-icon>
                <input
                  name="search"
                  placeholder="Buscar"
                  aria-label="Search"
                  class="block size-full bg-transparent pl-11 pr-3 text-base text-gray-900 outline-none placeholder:text-gray-400 sm:text-sm/6 border-none"
                  [(ngModel)]="searchText5"
                  (input)="applySearchFilter5()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="min-h-0 flex-1 overflow-y-auto">
      <div class="bg-white pt-5 pb-6 shadow-sm">
        <div
          class="px-4 sm:flex sm:items-baseline sm:justify-between sm:px-6 lg:px-8"
        >
          <div class="sm:w-0 sm:flex-1">
            <h1 id="message-heading" class="text-lg font-medium text-gray-900">
              Detalle de compras
            </h1>
            <p class="mt-1 truncate text-sm text-gray-500">
              En este apartado encontrarás los detalles de cada una de las
              compras realizadas.
            </p>
          </div>
          <div
            class="mt-4 flex items-center justify-between sm:mt-0 sm:ml-6 sm:shrink-0 sm:justify-start"
          ></div>
        </div>
      </div>
      <div class="px-4 sm:px-6 lg:px-8 mt-8">
        <div
          class="shadow-sm ring-1 ring-black ring-opacity-5 md:rounded-lg overflow-x-auto"
        >
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Fecha compra
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Proveedor
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Cantidad
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Precio unitario
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Total
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr *ngFor="let detalleC of paginatedDetalleCompras">
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <div class="flex gap-x-3">
                    <div class="font-mono text-sm/6 text-gray-900">
                      {{ detalleC.fechaVenta }}
                    </div>
                  </div>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-sm text-gray-900 hidden sm:table-cell"
                >
                  <div class="truncate w-32">{{ detalleC.productoNombre }}</div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <div class="flex gap-x-3">
                    <div class="font-mono text-sm/6 text-gray-900">
                      {{ detalleC.cantidad }}
                    </div>
                  </div>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-sm text-gray-900 hidden sm:table-cell"
                >
                  <div class="truncate w-32">{{ detalleC.precioUnitario }}</div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <div class="font-mono text-sm/6 text-gray-900">
                    {{ detalleC.subtotal }}
                  </div>
                </td>
                <td
                  class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
                >
                  <button
                    (click)="openViewModal(detalleC)"
                    class="inline-flex items-center rounded-md bg-blue-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-600"
                  >
                    <lucide-icon name="book-open-text"></lucide-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div
          class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6 md:rounded-b-lg shadow-sm ring-1 ring-black ring-opacity-5"
        >
          <div class="flex flex-1 justify-between sm:hidden">
            <button
              (click)="prevPage5()"
              [disabled]="currentPage5 === 1"
              class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
            >
              Anterior
            </button>
            <button
              (click)="nextPage5()"
              [disabled]="currentPage5 === totalPages5"
              class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
            >
              Siguiente
            </button>
          </div>
          <div
            class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between"
          >
            <div>
              <p class="text-sm text-gray-700">
                Mostrando
                <span class="font-medium">{{
                  (currentPage5 - 1) * itemsPerPage5 + 1
                }}</span>
                a
                <span class="font-medium">{{
                  Math5.min(currentPage5 * itemsPerPage5, totalDetalleCompras)
                }}</span>
                de
                <span class="font-medium">{{ totalDetalleCompras }}</span>
                detalles de venta
              </p>
            </div>
            <div>
              <nav
                aria-label="Pagination"
                class="isolate inline-flex -space-x-px rounded-md shadow-sm"
              >
                <button
                  (click)="prevPage5()"
                  [disabled]="currentPage5 === 1"
                  class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
                >
                  <span class="sr-only">Anterior</span>
                  <lucide-icon
                    name="chevron-left"
                    class="h-5 w-5"
                  ></lucide-icon>
                </button>
                <ng-container *ngFor="let page of pages5">
                  <span
                    *ngIf="page === '...'"
                    class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 focus:outline-offset-0"
                    >...</span
                  >
                  <button
                    *ngIf="page !== '...'"
                    (click)="handlePageClick5(page)"
                    [ngClass]="{
                      'bg-indigo-600 text-white': currentPage5 === page,
                      'text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50':
                        currentPage5 !== page
                    }"
                    class="relative inline-flex items-center px-4 py-2 text-sm font-semibold focus:z-20 focus:outline-offset-0"
                  >
                    {{ page }}
                  </button>
                </ng-container>

                <button
                  (click)="nextPage5()"
                  [disabled]="currentPage5 === totalPages5"
                  class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
                >
                  <span class="sr-only">Siguiente</span>
                  <lucide-icon
                    name="chevron-right"
                    class="h-5 w-5"
                  ></lucide-icon>
                </button>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <dialog
    id="view-modal"
    class="relative z-10"
    [open]="isViewModalOpen"
    (close)="closeViewModal()"
  >
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    ></div>
    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div
        class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
      >
        <div
          class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-xl sm:p-6"
        >
          <div class="absolute right-0 top-0 hidden pr-4 pt-4 sm:block">
            <button
              (click)="closeViewModal()"
              type="button"
              class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
            >
              <span class="sr-only">Cerrar</span>
              <lucide-icon name="x" class="h-6 w-6"></lucide-icon>
            </button>
          </div>
          <div class="sm:flex sm:items-start">
            <div
              class="mx-auto flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-blue-100 sm:mx-0 sm:h-10 sm:w-10"
            >
              <lucide-icon
                name="book-open-text"
                class="h-6 w-6 text-blue-600"
              ></lucide-icon>
            </div>
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left w-full">
              <h3
                class="text-base font-semibold leading-6 text-gray-900"
                id="modal-title"
              >
                Detalles del producto de la venta
              </h3>
              <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2">
                <div>
                  <h3 class="font-medium text-gray-700">Fecha de Venta</h3>
                  <p class="mt-1 text-sm text-gray-900">
                    {{ viewedDetalleCompra?.fechaVenta }}
                  </p>
                </div>
                <div>
                  <h3 class="font-medium text-gray-700">Producto</h3>
                  <p class="mt-1 text-sm text-gray-900">
                    {{ viewedDetalleCompra?.productoNombre }}
                  </p>
                </div>
                <div>
                  <h3 class="font-medium text-gray-700">Cantidad</h3>
                  <p class="mt-1 text-sm text-gray-900">
                    {{ viewedDetalleCompra?.cantidad }}
                  </p>
                </div>
                <div>
                  <h3 class="font-medium text-gray-700">Precio Unitario</h3>
                  <p class="mt-1 text-sm text-gray-900">
                    {{ viewedDetalleCompra?.precioUnitario }}
                  </p>
                </div>
                <div class="sm:col-span-2">
                  <h3 class="font-medium text-gray-700">Total</h3>
                  <p class="mt-1 text-sm text-gray-900">
                    {{ viewedDetalleCompra?.subtotal }}
                  </p>
                </div>
              </div>
              <div class="mt-6 flex justify-end">
                <button
                  type="button"
                  (click)="closeViewModal()"
                  class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                >
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </dialog>
</main>
