<div
  *ngIf="toastVisible"
  [ngClass]="{
    'bg-green-100 border-green-400 text-green-700': toastType === 'success',
    'bg-red-100 border-red-400 text-red-700': toastType === 'error'
  }"
  class="fixed bottom-4 right-4 z-50 p-4 rounded-md shadow-lg border-l-4"
  role="alert"
>
  <div class="flex">
    <div class="flex-shrink-0">
      <lucide-angular
        *ngIf="toastType === 'success'"
        name="circle-check-big"
        class="size-5 text-green-500"
      ></lucide-angular>
      <lucide-angular
        *ngIf="toastType === 'error'"
        name="x"
        class="size-5 text-red-500"
      ></lucide-angular>
    </div>
    <div class="ml-3">
      <p class="text-sm font-medium">{{ toastMessage }}</p>
    </div>
  </div>
</div>

<div class="bg-white min-h-screen">
  <div class="py-16 sm:py-24">
    <div class="mx-auto max-w-7xl sm:px-2 lg:px-8">
      <div class="mx-auto max-w-2xl px-4 lg:max-w-4xl lg:px-0">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">
          Historial de ventas
        </h1>
        <p class="mt-2 text-sm text-gray-500">
          En este apartado podrás visualizar y eliminar las ventas realizadas.
        </p>

        <div class="mt-8 flex justify-end">
          <input
            type="text"
            placeholder="Buscar por código, fecha o total..."
            [(ngModel)]="searchText"
            (input)="applyFiltersAndSearch()"
            class="w-full sm:w-80 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
          />
        </div>
      </div>
    </div>

    <div class="mt-16">
      <h2 class="sr-only">Ventas recientes</h2>
      <div class="mx-auto max-w-7xl sm:px-2 lg:px-8">
        <div class="mx-auto max-w-2xl space-y-8 sm:px-4 lg:max-w-4xl lg:px-0">
          <div
            *ngFor="let venta of paginatedVentas"
            class="border-b border-t border-gray-200 bg-white shadow-sm sm:rounded-lg sm:border"
          >
            <div
              class="flex items-center border-b border-gray-200 p-4 sm:grid sm:grid-cols-4 sm:gap-x-6 sm:p-6"
            >
              <dl
                class="grid flex-1 grid-cols-2 gap-x-6 text-sm sm:col-span-3 sm:grid-cols-3 lg:col-span-2"
              >
                <div>
                  <dt class="hidden md:block font-medium text-gray-900">
                    Código de venta
                  </dt>
                  <dd class="hidden md:block mt-1 text-gray-500">
                    {{ venta.codigoVenta }}
                  </dd>
                </div>
                <div class="hidden md:block">
                  <dt class="font-medium text-gray-900">Fecha de venta</dt>
                  <dd class="mt-1 text-gray-500">
                    <time [attr.datetime]="venta.fecha">{{
                      venta.fecha | date : "mediumDate"
                    }}</time>
                  </dd>
                </div>
                <div>
                  <dt class="hidden md:block font-medium text-gray-900">
                    Total
                  </dt>
                  <dd class="hidden md:block mt-1 font-medium text-gray-900">
                    Q{{ venta.total | number : "1.2-2" }}
                  </dd>
                </div>
              </dl>

              <div
                class="mt-4 flex w-full justify-end sm:mt-0 sm:w-auto sm:col-span-1 lg:col-span-2"
              >
                <div class="flex space-x-2 whitespace-nowrap sm:justify-end">
                  <button
                    (click)="openEditModal(venta)"
                    type="button"
                    title="Editar"
                    class="flex items-center justify-center rounded-md border border-gray-300 bg-white px-2.5 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                  >
                    <lucide-angular
                      name="pencil"
                      class="size-4 lg:mr-4 sm:mr-0"
                    ></lucide-angular>
                    <span class="hidden lg:inline">Editar</span>
                  </button>

                  <button
                    (click)="openViewModal(venta)"
                    type="button"
                    title="Ver detalles"
                    class="flex items-center justify-center rounded-md border border-gray-300 bg-white px-2.5 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                  >
                    <lucide-angular
                      name="list"
                      class="size-4 lg:mr-4 sm:mr-0"
                    ></lucide-angular>
                    <span class="hidden lg:inline">Ver detalles</span>
                  </button>

                  <button
                    (click)="openDeleteModal(venta)"
                    type="button"
                    title="Eliminar"
                    class="flex items-center justify-center rounded-md border border-red-300 bg-red-50 px-2.5 py-2 text-sm font-medium text-red-700 shadow-sm hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2"
                  >
                    <lucide-angular
                      name="trash"
                      class="size-4 lg:mr-4 sm:mr-0"
                    ></lucide-angular>
                    <span class="hidden lg:inline">Eliminar</span>
                  </button>

                  <a
                    href="/tu-destino.html"
                    title="SAT"
                    class="inline-flex items-center justify-center rounded-md border border-blue-300 bg-blue-50 px-2.5 py-2 text-sm font-medium text-blue-700 shadow-sm hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-colors duration-200"
                  >
                    <!-- Icono central -->
                    <img
                      src="/SAT.png"
                      alt="SAT"
                      class="w-8 h-8 md:w-6 md:h-6 mr-3 ml-3 md:mr-3 md:ml-3 lg:mr-5 lg:ml-5 object-contain"
                      loading="lazy"
                    />

                    <!-- Texto accesible pero invisible a la vista -->
                    <span class="sr-only">SAT</span>
                  </a>
                </div>
              </div>
            </div>

            <h4 class="sr-only">Items</h4>
            <ul role="list" class="divide-y divide-gray-200">
              <li *ngFor="let detalle of venta.detalles" class="p-4 sm:p-6">
                <div class="flex items-center sm:items-start">
                  <div
                    class="size-20 shrink-0 overflow-hidden rounded-lg bg-gray-200 sm:size-40"
                  >
                    <img
                      [src]="
                        detalle.producto.imagenUrl ||
                        'https://via.placeholder.com/150'
                      "
                      alt="Imagen del producto"
                      class="size-full object-cover"
                    />
                  </div>
                  <div class="ml-6 flex-1 text-sm">
                    <div
                      class="font-medium text-gray-900 sm:flex sm:justify-between"
                    >
                      <h5>{{ detalle.producto.nombre }}</h5>
                      <p class="mt-2 sm:mt-0">
                        Q{{ detalle.producto.precioVenta }} x
                        {{ detalle.cantidad }}
                      </p>
                    </div>
                    <p class="hidden text-gray-500 sm:mt-2 sm:block">
                      {{ detalle.producto.descripcion }}
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div
            *ngIf="filteredVentas.length === 0"
            class="text-center py-8 min-h-screen"
          >
            <p class="text-gray-500">
              No hay ventas registradas que coincidan con la búsqueda.
            </p>
          </div>

          <!-- Paginación -->

          <nav
            *ngIf="totalPages > 1"
            class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
          >
            <div class="flex flex-1 justify-between sm:hidden">
              <button
                (click)="prevPage()"
                [disabled]="currentPage === 1"
                class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 disabled:bg-gray-200"
              >
                Anterior
              </button>
              <button
                (click)="nextPage()"
                [disabled]="currentPage === totalPages"
                class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 disabled:bg-gray-200"
              >
                Siguiente
              </button>
            </div>
            <div
              class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between"
            >
              <div>
                <p class="text-sm text-gray-700">
                  Mostrando
                  <span class="font-medium">{{
                    (currentPage - 1) * itemsPerPage + 1
                  }}</span>
                  a
                  <span class="font-medium">{{
                    Math.min(currentPage * itemsPerPage, totalVentas)
                  }}</span>
                  de
                  <span class="font-medium">{{ totalVentas }}</span>
                  resultados
                </p>
              </div>
              <div>
                <nav
                  class="isolate inline-flex -space-x-px rounded-md shadow-sm"
                  aria-label="Pagination"
                >
                  <button
                    (click)="prevPage()"
                    [disabled]="currentPage === 1"
                    class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-2 disabled:bg-gray-200 disabled:text-gray-500"
                  >
                    <span class="sr-only">Previous</span>
                    <lucide-angular
                      name="chevron-left"
                      class="size-5"
                      aria-hidden="true"
                    ></lucide-angular>
                  </button>
                  <ng-container *ngFor="let page of pages">
                    <span
                      *ngIf="page === '...'"
                      class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 focus:outline-offset-2"
                      >...</span
                    >
                    <button
                      *ngIf="page !== '...'"
                      (click)="handlePageClick(page)"
                      [ngClass]="{
                        'bg-indigo-600 text-white focus-visible:outline-indigo-600':
                          page === currentPage,
                        'text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-2':
                          page !== currentPage
                      }"
                      class="relative z-10 inline-flex items-center px-4 py-2 text-sm font-semibold focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                    >
                      {{ page }}
                    </button>
                  </ng-container>
                  <button
                    (click)="nextPage()"
                    [disabled]="currentPage === totalPages"
                    class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-2 disabled:bg-gray-200 disabled:text-gray-500"
                  >
                    <span class="sr-only">Next</span>
                    <lucide-angular
                      name="chevron-right"
                      class="size-5"
                      aria-hidden="true"
                    ></lucide-angular>
                  </button>
                </nav>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <dialog
  id="view-modal"
  class="relative z-10"
  [open]="isViewModalOpen"
  (close)="closeViewModal()"
>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <div
        class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-xl sm:p-6"
      >
        <div class="absolute right-0 top-0 hidden pr-4 pt-4 sm:block">
          <button
            (click)="closeViewModal()"
            type="button"
            class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            <span class="sr-only">Cerrar</span>
            <lucide-angular name="x" class="h-6 w-6"></lucide-angular>
          </button>
        </div>
        <div class="sm:flex sm:items-start">
          <div
            class="mx-auto flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-blue-100 sm:mx-0 sm:h-10 sm:w-10"
          >
            <lucide-angular
              name="receipt"
              class="h-6 w-6 text-blue-600"
            ></lucide-angular>
          </div>
          <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left w-full">
            <h3
              class="text-base font-semibold leading-6 text-gray-900"
              id="modal-title"
            >
              Detalles de la venta
            </h3>
            <div
              *ngIf="viewedVenta"
              class="mt-4 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2"
            >
              <div>
                <h3 class="font-medium text-gray-700">Código de Venta</h3>
                <p class="mt-1 text-sm text-gray-900">
                  {{ viewedVenta.codigoVenta }}
                </p>
              </div>
              <div>
                <h3 class="font-medium text-gray-700">Fecha de Venta</h3>
                <p class="mt-1 text-sm text-gray-900">
                  {{ viewedVenta.fecha | date : "mediumDate" }}
                </p>
              </div>
              <div>
                <h3 class="font-medium text-gray-700">Total</h3>
                <p class="mt-1 text-sm text-gray-900">
                  Q{{ viewedVenta.total | number : "1.2-2" }}
                </p>
              </div>
              <div>
                <h3 class="font-medium text-gray-700">Efectivo Recibido</h3>
                <p class="mt-1 text-sm text-gray-900">
                  Q{{ viewedVenta.efectivoRecibido | number : "1.2-2" }}
                </p>
              </div>
              <div>
                <h3 class="font-medium text-gray-700">Cambio</h3>
                <p class="mt-1 text-sm text-gray-900">
                  Q{{ viewedVenta.cambio | number : "1.2-2" }}
                </p>
              </div>
              <div>
                <h3 class="font-medium text-gray-700">Estado</h3>
                <p class="mt-1 text-sm text-gray-900">
                  {{ viewedVenta.estado }}
                </p>
              </div>
              <div class="sm:col-span-2 mt-4">
                <h3 class="font-medium text-gray-700">Productos vendidos</h3>
                <ul class="mt-2 list-disc list-inside text-sm text-gray-900">
                  <li *ngFor="let detalle of viewedVenta.detalles">
                    {{ detalle.producto?.nombre }} (x{{ detalle.cantidad }}) -
                    Q{{ detalle.precioUnitario | number : "1.2-2" }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="mt-6 flex justify-end">
              <button
                type="button"
                (click)="closeViewModal()"
                class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              >
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog> -->
<dialog
  id="view-modal"
  class="relative z-10"
  [open]="isViewModalOpen"
  (close)="closeViewModal()"
>
  <!-- fondo oscuro -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <div
        class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-xl sm:p-6"
      >
        <!-- Botón cerrar -->
        <div class="absolute right-0 top-0 hidden pr-4 pt-4 sm:block">
          <button
            (click)="closeViewModal()"
            type="button"
            class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            <span class="sr-only">Cerrar</span>
            <lucide-angular name="x" class="h-6 w-6"></lucide-angular>
          </button>
        </div>

        <!-- ----------------- PDF‑target ----------------- -->
        <div #pdfContent class="p-6">
          <!-- 1️⃣ Logo + Slogan -->
          <div class="text-center mb-6">
            <img
              src="/logo.png"
              alt="Logo de la empresa"
              class="h-16 mx-auto"
            />
            <h2 class="mt-2 text-lg font-semibold text-gray-800">
              • Librería A&E •
            </h2>
          </div>

          <!-- 2️⃣ Mensaje -->
          <p class="text-sm text-center text-gray-700 mb-8">
            Tus productos adquiridos el día de hoy
          </p>

          <!-- 3️⃣ Información de la venta -->
          <h3
            class="text-base font-semibold leading-6 text-gray-900 text-center mb-6"
          >
            Detalles de la venta
          </h3>

          <div
            *ngIf="viewedVenta"
            class="mt-4 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2"
          >
            <!-- Código de venta -->
            <div>
              <h4 class="font-medium text-gray-700">Código de Venta</h4>
              <p class="text-sm text-gray-900">{{ viewedVenta.codigoVenta }}</p>
            </div>
            <!-- Fecha -->
            <div>
              <h4 class="font-medium text-gray-700">Fecha de Venta</h4>
              <p class="text-sm text-gray-900">
                {{ viewedVenta.fecha | date : "mediumDate" }}
              </p>
            </div>
            <!-- Total -->
            <div>
              <h4 class="font-medium text-gray-700">Total</h4>
              <p class="text-sm text-gray-900">
                Q{{ viewedVenta.total | number : "1.2-2" }}
              </p>
            </div>
            <!-- Efectivo -->
            <div>
              <h4 class="font-medium text-gray-700">Efectivo Recibido</h4>
              <p class="text-sm text-gray-900">
                Q{{ viewedVenta.efectivoRecibido | number : "1.2-2" }}
              </p>
            </div>
            <!-- Cambio -->
            <div>
              <h4 class="font-medium text-gray-700">Cambio</h4>
              <p class="text-sm text-gray-900">
                Q{{ viewedVenta.cambio | number : "1.2-2" }}
              </p>
            </div>
            <!-- Estado -->
            <div>
              <h4 class="font-medium text-gray-700">Estado</h4>
              <p class="text-sm text-gray-900">{{ viewedVenta.estado }}</p>
            </div>

            <!-- 4️⃣ Lista de productos -->
            <div class="sm:col-span-2 mt-4">
              <h4 class="font-medium text-gray-700">Productos vendidos</h4>
              <ul class="mt-2 list-disc list-inside text-sm text-gray-900">
                <li *ngFor="let detalle of viewedVenta.detalles">
                  {{ detalle.producto?.nombre }} (x{{ detalle.cantidad }}) - Q{{
                    detalle.precioUnitario | number : "1.2-2"
                  }}
                </li>
              </ul>
            </div>
          </div>

          <!-- Botón Descargar PDF (opcional) -->
          <div class="mt-6 flex justify-end space-x-3 no-print">
            <button
              type="button"
              class="rounded-md border border-indigo-500 bg-indigo-600 text-white px-4 py-2 hover:bg-indigo-700"
              (click)="downloadPdf()"
            >
              Descargar PDF
            </button>
            <button
              type="button"
              (click)="closeViewModal()"
              class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
            >
              Cerrar
            </button>
          </div>
        </div>
        <!-- -------------- fin PDF‑target --------------- -->
      </div>
    </div>
  </div>
</dialog>

<dialog
  id="edit-modal"
  class="relative z-10"
  [open]="isEditModalOpen"
  (close)="closeEditModal()"
>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <div
        class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-xl sm:p-6"
      >
        <div class="absolute right-0 top-0 hidden pr-4 pt-4 sm:block">
          <button
            (click)="closeEditModal()"
            type="button"
            class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            <span class="sr-only">Cerrar</span>
            <lucide-angular name="x" class="h-6 w-6"></lucide-angular>
          </button>
        </div>
        <div class="sm:flex sm:items-start">
          <div
            class="mx-auto flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-yellow-100 sm:mx-0 sm:h-10 sm:w-10"
          >
            <lucide-angular
              name="pencil"
              class="h-6 w-6 text-yellow-600"
            ></lucide-angular>
          </div>
          <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left w-full">
            <h3
              class="text-base font-semibold leading-6 text-gray-900"
              id="modal-title"
            >
              Editar Venta
            </h3>
            <form
              *ngIf="editedVenta"
              (ngSubmit)="$event.preventDefault()"
              class="mt-4"
            >
              <div *ngIf="editValidationErrors.length > 0" class="mt-4">
                <div class="rounded-md bg-red-50 p-4">
                  <div class="flex">
                    <div class="flex-shrink-0"></div>
                    <div class="ml-3">
                      <h3 class="text-sm font-medium text-red-800">
                        Se encontraron los siguientes errores:
                      </h3>
                      <div class="mt-2 text-sm text-red-700">
                        <ul role="list" class="list-disc space-y-1 pl-5">
                          <li *ngFor="let error of editValidationErrors">
                            {{ error }}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="grid gap-x-6 gap-y-4 sm:grid-cols-2">
                <!-- <div class="sm:col-span-2">
                  <label for="total" class="block text-sm font-medium leading-6 text-gray-900">Total</label>
                  <input type="number" id="total" name="total" [(ngModel)]="editedVenta.total" autocomplete="off" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                </div> -->
                <!-- <div class="sm:col-span-2">
                  <label for="efectivoRecibido" class="block text-sm font-medium leading-6 text-gray-900">Efectivo recibido</label>
                  <input type="number" id="efectivoRecibido" name="efectivoRecibido" [(ngModel)]="editedVenta.efectivoRecibido" autocomplete="off" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                </div>
                <div class="sm:col-span-2">
                  <label for="cambio" class="block text-sm font-medium leading-6 text-gray-900">Cambio</label>
                  <input type="number" id="cambio" name="cambio" [(ngModel)]="editedVenta.cambio" autocomplete="off" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                </div> -->

                <div class="sm:col-span-2">
                  <label
                    for="estadoVenta"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Estado de Venta</label
                  >
                  <input
                    type="text"
                    id="estadoVenta"
                    name="estadoVenta"
                    [(ngModel)]="editedVenta.estado"
                    autocomplete="off"
                    required
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
              <div class="sm:col-span-2 flex justify-end gap-x-3 mt-6">
                <button
                  type="button"
                  (click)="closeEditModal()"
                  class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                >
                  Cerrar
                </button>
                <button
                  type="submit"
                  (click)="updateVenta()"
                  class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                >
                  Actualizar Venta
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>

<dialog
  id="delete-modal"
  class="relative z-10"
  [open]="isDeleteModalOpen"
  (close)="closeDeleteModal()"
>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <div
        class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6"
      >
        <div class="sm:flex sm:items-start">
          <div
            class="mx-auto flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10"
          >
            <lucide-angular
              name="trash"
              class="h-6 w-6 text-red-600"
            ></lucide-angular>
          </div>
          <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
            <h3
              class="text-base font-semibold leading-6 text-gray-900"
              id="modal-title"
            >
              Eliminar Venta
            </h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">
                ¿Estás seguro de que deseas eliminar la venta con el código
                <strong>{{ ventaToDelete?.codigoVenta }}</strong
                >? Esta acción no se puede deshacer.
              </p>
            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
          <button
            type="button"
            (click)="deleteVenta()"
            class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto"
          >
            Eliminar Venta
          </button>
          <button
            type="button"
            (click)="closeDeleteModal()"
            class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</dialog>
